{% extends 'base.html' %} {% block content %}

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Add Purchase Invoice</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'finance_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Add Purchase Invoice</li>
            </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'view_purchase_invoices' %}" class="btn btn-primary"
              ><i class="fas fa-plus"></i> &nbsp;View Purchase Invoice
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action="#" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-12">
                <h5 class="form-title"><span>Add Invoice</span></h5>
              </div>
              {% include 'includes/messages.html' %}
              <div class="row col-12">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="purchase_invoice">Purchase Invoice</label>
                    <input type="file" class="form-control-file" name="purchase_invoice_file" id="purchase_invoice" placeholder="Invoice File here" aria-describedby="fileHelpId">
                    <small id="fileHelpId" class="form-text text-muted">Upload Invoice file here</small>
                  </div>
              </div>
              
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Invoice No</label>
                    <input
                      required
                      type="text"
                      class="form-control"
                      name="purchase_invoice_no"
                      value="{{current_invoice.invoice_no}}"
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Date</label>
                    <input
                      required
                      type="date"
                      class="form-control"
                      name="date"
                      value="{{year}}-{{month}}-{{day}}"
                    />
                  </div>
                </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Vendor</label>
                  <select class="form-control" name="vendor_id">
                    {% for i in vendors %}
                    <option value="{{i.id}}"
                    {% if i.id == current_invoice.vendor.id %}{% endif %}
                    >
                      {{i.company}}
                      {{i.address}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
              <table class="table mt-4 table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th width=10>Quantity</th>
                    <th>Rate</th>
                    <th>Taxable Value</th>
                    <th>Discount (in %)</th>
                    <th>Tax (in %)</th>
                    <th>Tax (CGST / SGST)</th>
                    <th>Amount</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
					{% for purchase_transaction in purchase_transactions %}
                  <tr>
                    <td>
                      <select class="form-control" name="item" disabled>
                        {% for i in items %}
                          <option value="{{i.id}}" tax="{{i.state_tax_rate}}" 
                            {% if purchase_transaction.item.id == i.id %} selected {% endif %}
                          > {{i.name}} {{i.address}} </option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input
                        required
                        type="number" step="0.01"
                        class="form-control"
                        name="qnt"
                        disabled
                        value="{{purchase_transaction.quantity}}"
                      />
                    </td>
                    <td>
                      <input
                        required
                        type="number" step="0.01"
                        class="form-control"
                        name="rate"
                        disabled
                        value="{{purchase_transaction.rate}}"
                      />
                    </td>
                    <td>
                      <input
                        required
                        type="number" step="0.01"
                        class="form-control"
                        name="rate"
                        disabled
                        value="{{purchase_transaction.taxable_value}}"
                      />
                    </td>
                    <td>
                      <input
                        required
                        type="number" step="0.01"
                        class="form-control"
                        name="discount"
                        value="{{purchase_transaction.discount_percent}}"
                        disabled
                      />
                    </td>
                    <td>
                      {{purchase_transaction.item.state_tax_rate}}% / {{purchase_transaction.item.state_tax_rate}}%

                    </td>
                    <td>
                      {{purchase_transaction.state_tax}} / {{purchase_transaction.central_tax}}

                    </td>
                    <td>
                      {{purchase_transaction.amount}}

                    </td>
                    <td class="text-right">
                      <div class="actions">
                        <a
                          href="{% url 'delete_purchase_transaction' purchase_transaction.id %}"
                          class="btn btn-sm bg-danger-light mr-2"
                        >
                          <i class="fas fa-trash"></i>
                        </a>
                        
                      </div>
                    </td>
                  </tr>
				  {% endfor %}
                  
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan=2>
                      <button
                      type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem"
                      >
                        <i class="fa fa-plus"></i>&nbsp; Add Item
                      </button>
                      
                    </td>
                  </tr>
                  <tr style="
                    font-size: x-large;
                    font-weight: 400;">
                    <td colspan="2"></td>
                    <td class="text-end"><strong>Total:</strong></td>
                    <td colspan=3 class="text-end"><b>{{current_invoice.total_taxable_amount}}</b></td>
                    <td class="text-end"><b>{{current_invoice.total_tax_amount}}</b></td>
                    <td style="color: green;" class="text-end"><b>{{current_invoice.total_amount}}</b></td>
                  </tr>

                </tfoot>
              </table>
              <div class="row">
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">
                    Save Invoice
                  </button>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-secondary">
                    Preview Invoice
                  </button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modal-form" method="post" action="{% url 'save_purchase_transaction' %}">
          {% csrf_token %}
          
          <div class="row col-12">
            <div class="col-12 col-sm-4">
              <div class="form-group">  
                <label for="item">Item</label>
                <select class="form-control" name="item" id="item" >
                  {% for i in items %}
                  <option value="{{i.id}}" current_stock="{{i.current_stock}}" tax="{{i.state_tax_rate}}">
                    {{i.name}} <br />
                    {{i.address}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="form-group">
                <label>Tax Percent</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="tax" id="tax"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label>Current Stock</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  id="current_stock"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label>Quantity</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="qnt" id="qnt"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Rate</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="rate" id="rate"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Taxable Value</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="taxable_value" id="taxable_value"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Discount (in %)</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="discount_percent" id="discount_percent"
                />
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Total Rate</label>
                    <input
                      required
                      type="number" step="0.01"
                      class="form-control"
                      name="total_rate" id="total_rate"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Discount Amount</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="discount_amount" id="discount_amount"
                />
            
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Total Amount</label>
                <input
                  required
                  type="number" step="0.01"
                  class="form-control"
                  name="total_amount" id="total_amount"
                />
              </div>
            </div>
            
              </div>
            </div>
            <input type="hidden" name="purchase_invoice_id" value="{{current_invoice.id}}">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  function round(number,digits=2){
    var decimal = number * Math.pow(10,digits)
    decimal = Math.round(decimal) / 100
    console.log(decimal)
    return(decimal)
  }

  qnt = document.querySelector("#modal-form #qnt")
  rate = document.querySelector("#modal-form #rate")
  taxable_value = document.querySelector("#modal-form #taxable_value")
  discount_percent = document.querySelector("#modal-form #discount_percent")
  discount_amount = document.querySelector("#modal-form #discount_amount")
  total_rate = document.querySelector("#modal-form #total_rate")
  total_amount = document.querySelector("#modal-form #total_amount")
  
  tax_button = document.querySelector("#modal-form #tax")
  current_stock_button = document.querySelector("#modal-form #current_stock")

  item = document.querySelector("#modal-form #item")
  tax_button.value = item.selectedOptions[0].getAttribute('tax');
  current_stock_button.value = item.selectedOptions[0].getAttribute('current_stock');
  item.onclick = (e)=>{
    tax_button.value = item.selectedOptions[0].getAttribute('tax');
    current_stock_button.value = item.selectedOptions[0].getAttribute('current_stock');
  
  };



  discount_percent.addEventListener("input",(e)=>{
    if(discount_percent.value){
      discount_amount.value =round( taxable_value.value * discount_percent.value / 100,2);
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt.value,2);
    }
    else
    {
      discount_amount.value = 0
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt.value,2);
    }
  })
  
  discount_amount.addEventListener("input",(e)=>{
    if(discount_amount.value){
      discount_percent.value = round( discount_amount.value * 100 / taxable_value.value,2);
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt.value,2);
    }
    else
    {
      discount_percent.value = 0
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt.value,2);
    }
  })

  rate.addEventListener("input",(e)=>{
    qnt_no = qnt.value;
    if(rate.value){
      taxable_value.value = round(  rate.value * qnt_no,2);
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt_no,2);
    }
    else{
      taxable_value.value =  0
      total_amount.value = 0
      total_rate.value = 0
    }
  });

  taxable_value.addEventListener("input",(e)=>{
    qnt_no = qnt.value;
    if(taxable_value.value){
      rate.value = round( taxable_value.value / qnt_no,2);
      total_amount.value = round( ((taxable_value.value-discount_amount.value) * (1 + (tax_button.value*2)/100)),2);
      total_rate.value = round( total_amount.value / qnt_no,2);
    }
    else{
      rate.value=0
      total_amount.value = 0
      total_rate.value = 0
    }
  });

  total_amount.addEventListener("input",(e)=>{
    qnt_no = qnt.value;
    if(total_amount.value){
      if(!discount_percent.value){
        discount_percent.value = 0
      }
      taxable_value.value = round( (total_amount.value / (1 + (tax_button.value*2)/100)) / (1 - (discount_percent.value/100)),2);
      discount_amount.value = round( taxable_value.value * discount_percent.value / 100,2);
      rate.value = round( parseFloat(taxable_value.value) / qnt_no,2);
      total_rate.value = round( total_amount.value / qnt_no,2);
    }
    else{
      rate.value=0
      taxable_value.value =  0
      total_rate.value = 0
    }
  });
  total_rate.addEventListener("input",(e)=>{
    qnt_no = qnt.value;
    if(total_rate.value){
      total_amount.value = round( total_rate.value * qnt_no,2);
      taxable_value.value = round( (total_amount.value / (1 + (tax_button.value*2)/100)) / (1 - (discount_percent.value/100)),2);
      discount_amount.value = round( taxable_value.value * discount_percent.value / 100,2);
      rate.value = round( parseFloat(taxable_value.value) / qnt_no,2);
    }
    else{
      rate.value=0
      taxable_value.value =  0
      total_amount.value = 0
    }
  });

  


</script>
{% endblock script %}