{% extends "hod/base_edit_invoice.html" %}
{% load static %}

{% block variables %}
var VIEW_INVOICE_URL = `{% url "view_invoices" %}`
var SAVE_INVOICE_URL = `{% url "save_invoice" %}`
var GET_TAX_URL = `{% url "get_tax_quantity" %}`
{% endblock variables %}

{% block invoice_url %}{% url "invoice" invoice.pk %}{% endblock invoice_url %}

{% block extrascripts %}
<script src="{% static 'assets/js/edit_invoice.js' %}"></script>
{% endblock extrascripts %}

{% block reset_invoice %}

{% endblock reset_invoice %}