{% extends 'base.html' %} {% block content %}
<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Report</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'finance_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Report</li>
            </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'add_items' %}" class="btn btn-primary"
              ><i class="fas fa-plus"></i> &nbsp;Add Report
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form action="#" method="get">
            <div class="form-group">
              <label>{{label}}</label>
              <select id="selectize_id" name="select_id">
                {% for i in models %}
                <option value="{{i.id}}">
                  {{i.name}}
                  {{i.address}}
                </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        {% if items %}
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="table-responsive">
                <table id="table_id" class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        {% for title  in row_headings %}
                            <th>{{title}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row_item in items %}
                      <tr>
                        {% for i  in row_item %}
                            <td>{{i}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    {% endblock content %}

    {% block script  %}
    <script>
    $(function () {
      $("#selectize_id").selectize();
    });
  </script>
    
    {% endblock script  %}