{% load active_link_tags %}


<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>Main Menu</span>
        </li>
        <li class="{% active_link 'finance_dashboard' 'active' %}">
          <a href="{% url 'finance_dashboard' %}"
            ><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a
          >
        </li>
        <li class="submenu {% active_link 'view_item_adjustment' 'active' %} {% active_link 'view_items' 'active' %} {% active_link 'view_item_groups' 'active' %}">
          <a href="#" class="active subdrop"
            ><i class="fas fa-sitemap"></i> <span> Items</span>
            <span class="menu-arrow"></span
          ></a>
          <ul style="display: block">
            <li><a href="{% url 'view_item_groups' %}" class="{% active_link 'view_item_groups' 'active' %}">Item Groups</a></li>
            <li><a href="{% url 'view_items' %}" class="{% active_link 'view_items' 'active' %}" >Items</a></li>
            <li><a href="{% url 'view_item_adjustment' %}"  class="{% active_link 'view_item_adjustment' 'active' %}"   >Inventory Adjustment</a></li>
          </ul>
        </li>
        <li class="{% active_link 'finance_dashboard' 'active' %}">
          <a href="{% url 'finance_dashboard' %}"
            ><i class="fa fa-book" aria-hidden="true"></i> <span>Reports</span></a
          >
        </li>
        <li class="menu-title">
          <span>Vouchers</span>
        </li>
        
        <li class="{% active_link 'view_invoices' 'active' %}" >
          <a href="{% url 'view_invoices' %}"
            ><i class="fas fa-file-invoice"></i> <span>Sale Invoice</span></a
          >
        </li>
        <li class="{% active_link 'view_purchase_invoices' 'active' %}" >
          <a href="{% url 'view_purchase_invoices' %}"
            ><i class="fas fa-file-invoice-dollar"></i> <span>Purchase Invoice</span></a
          >
        </li>
        <li class="{% active_link 'view_payments' 'active' %}" >
          <a href="{% url 'view_payments' %}"
            ><i class="fas fa-money-check"></i>
            <span>Payments Received</span></a
          >
        </li>
        <li class="{% active_link 'view_reciepts' 'active' %}" >
          <a href="{% url 'view_reciepts' %}"
            ><i class="fas fa-money-bill-wave"></i>
            <span>Payments Made</span></a
          >
        </li>
        
        <li class="{% active_link 'view_salereturns' 'active' %}" >
          <a href="{% url 'view_salereturns' %}"><i class="fas fa-hand-point-left"></i> <span> Sale Returns</span></a>
        </li>
        <li class="{% active_link 'view_vendor_credit_notes' 'active' %}" >
          <a href="{% url 'view_vendor_credit_notes' %}"
            ><i class="fas fa-receipt"></i> <span>Purchase Returns</span></a
          >
        </li>
        
        <li class="menu-title">
          <span>Party</span>
        </li>
        <li class="{% active_link 'view_vendors' 'active' %}" >
          <a href="{% url 'view_vendors' %}"
            ><i class="fas fa-store-alt"></i> <span>Vendors / Purchaser / Supplier</span></a
          >
        </li>
        <li class="{% active_link 'view_customers' 'active' %}" >
          <a href="{% url 'view_customers' %}"
            ><i class="fas fa-user-alt"></i> <span>Customers / Buyer</span></a
          >
        </li>
        <li class="{% active_link 'account_logout' 'active' %}" >
          <a href="{% url 'account_logout' %}"
            ><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
